@model IEnumerable<Trip>

@{
    ViewBag.Title = "My Trip Log";
}

<div class="m-2">
    <a asp-action="Add" asp-controller="Trip" asp-route-id="page1"><b>Add Trip</b></a>
</div>

<form asp-action="Delete" asp-controller="Trip">
<table class="table table-bordered table-striped mt-2">
    <thead>
        <tr>
            <th>Destination</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Accommodations</th>
            <th>Things To Do</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Trip trip in Model)
        {
            <tr>
                <td>@trip.Destination.Name</td>
                <td>@trip.StartDate?.ToShortDateString()</td>
                <td>@trip.EndDate?.ToShortDateString()</td>
                <td>
                    <div>@trip.Accommodation.Name</div>
                    @if (trip.Accommodation.HasPhone)
                    {
                        <div>Phone: @trip.Accommodation.Phone</div>
                    }
                    @if (trip.Accommodation.HasEmail)
                    {
                        <div>Email: @trip.Accommodation.Email</div>
                    }
                </td>
                <td>
                    @foreach (Activity a in trip.Activities)
                    {
                        <div>@a.Name</div>
                    }
                </td>
                <td>
                    <button type="submit" name="id" value="@trip.TripId" 
                            class="btn btn-primary">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>
</form>