@using trip_planner_austin_hc.Models.domainModels
@model IEnumerable<Trip>

@{
    ViewBag.Title = "My Trip Log";
}

<a asp-action="Add" asp-controller="Trip" asp-route-id="page1" class="mt-2"><b>Add Trip</b></a>

<table class="table table-bordered table-striped mt-2">
    <thead>
        <tr>
            <th>Destination</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Accommodations</th>
            <th>Things To Do</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Trip trip in Model)
        {
            <tr>
                <td>@trip.Destination.Name</td>
                <td>@trip.StartDate?.ToShortDateString()</td>
                <td>@trip.EndDate?.ToShortDateString()</td>
                <td>
                    <div>@trip.Accommodation.Name</div>
                </td>
                <td>
                    @if (trip.Activities != null && trip.Activities.Any())
                    {
                        @foreach (var activity in trip.Activities)
                        {
                            <div>@activity.Name</div>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
